/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

@import "../_variables";

.MessageView {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 16px;
	cursor: pointer;
	user-select: none;

}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 16px;
	transition: all 250ms ease-in-out;
}

.message {
	padding: 16px;
	color: white;
	border-radius: 16px;
	display: block;
	white-space: pre;
	transition: all 250ms ease-in-out;
	&:hover {
		transform: scale(1.0025) rotate(-3deg);
		box-shadow: 0 0 20px lightgray;
	}
}

.time {
	font-weight: lighter;
	padding-top: 4px;
	display: block;
	overflow: hidden;
	transition: height 250ms ease-in-out;
}