/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

@import "../_variables";

.MessageView {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 16px;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 16px;
}

.message {
	padding: 16px;
	background: $black;
	overflow: hidden;
	text-align: left;
	color: white;
	border-radius: 16px;
	max-width: 60%;
}

.time {
	font-weight: lighter;
	padding-top: 4px;
}