/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

@import "../_variables";

.ThreadsListRowView {
	margin: 8px 0;
	padding: 8px;
	border-radius: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	transition: background 250ms ease-in-out;
	&:hover {
		cursor: pointer;
	}
}

.selected, .ThreadsListRowView:hover {
	background: $gray;
	.name {
		font-weight: bold;
	}
}

.name {
	font-size: 18px;
	margin-left: 16px;
	transition: font-weight 250ms ease-in-out;
}